<% if request.post? %>
  Thanks for submitting the form!  Here are your answers:<br>
  Name: <%= @survey.name %><br>
  Do you like Chocolate? <%= @survey.chocolate ? "Yes!" : "No" %><br>
  Do you like Rainbows? <%= @survey.rainbows ? "Yes!" : "No" %><br>
  Do you like Puppies? <%= @survey.puppies ? "Yes!" : "No" %><br>
  <% if Rails.env.development? %>
    Do you like Cold Hard Cash? <%= @survey.cash ? "Yes!" : "No" %><br>
  <% end %>
<% else %>
  <%= form_for @survey, url: home_form_path do |f| %>
    <div>
      Name: <%= f.text_field :name %>
    </div>
    <div>
      Favorites:
      <ul>
        <li class="item">
          <%= f.check_box :chocolate %> I like <%= label_tag :chocolate %>
        </li>
        <li class="item">
          <%= f.check_box :rainbows %> I like <%= label_tag :rainbows %>
        </li>
        <li class="item">
          <%= f.check_box :puppies %> I like <%= label_tag :puppies %>
        </li>
        <% if Rails.env.development? %>
          <li class="item">
            <%= f.check_box :cash %> I like <%= label_tag :cash %>
          </li>
        <% end %>
      </ul>
    </div>
    <%= f.submit %>
  <% end %>
<% end %>
